body{
    background-color: black;
}
form{
    background-image: url("../images/images.jpg");
    float: center;
    height: 100%;
    font-size: larger;
    text-align: center;
    border: 10px solid rgb(190, 176, 190);
    margin-left: 30%;
    margin-top: 20%;
    margin-right: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: rgb(239, 245, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    padding-top: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}