    div{
        width: 50%;
        border:15px dashed darkblue;
        margin: 5px;
        padding: 25px 25x 4px 1x;
        background-color: azure;
    }
    #myid{
        width : 70%;
        background-color: aqua;
    }